
#navbar{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: .75em 1.5em .75em 1.5em;
    margin-bottom: 1em;
    max-height: 72px;
    font-size: 1em;
}

.nav_ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav_ul li{
    display: flex;
    align-items: center;
    margin: 0 .25em 0 .25em;
    padding: .5em 1em .5em 1em;
    border-radius: 25px;
}

.nav_ul li:hover{
    background-color: #F6F7F8;
    cursor: pointer;
}

.nav_ul li p{
    margin-left: .5em;
    font-weight: bold;
}

.checked{
    background-color: #01F0D0;
}

#docDisplay{
    display:flex;
    align-items: center;
    font-family: Manrope;
    color: #072635;
    height: 100%;
}

#docPic{
    height: 44px;
    width: auto;
    object-fit: contain;
}

.bold{
    font-weight: bold;
}
.lightGrey {
    color: #707070
}

#docInfo{
    padding: 0 .75em 0 .5em;
    border-right: solid thin #EDEDED;
}

#settings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: .5em;
    height: 50%;
    width: auto;
}

#gearImg{
    height: 23px;
    width: auto;
    object-fit: contain;
    margin-right: .75em;
    margin-left: .50em;
}

#dotsImg{
    height: 21px;
    width: auto;
    object-fit: contain;
}


@media screen and (max-width: 1250px) {
    #navCover{
        display: none;
    }

    #docPic{
        display: none;
    }

    #docInfo{
        display: none;
    }

    #gearImg{
        display: none;
    }

    #dotsImg{
        border-radius: 25px;
        background-color: #01F0D0;
        height: 50px;
        width: 50px;
        padding: .75em;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

    }


  
}

