#labResults{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 1em;

    max-height: 260px;
    overflow-y: scroll;
}

#labResults ul{
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
    overflow-y: scroll;
}

#labResults ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

#labResults ul li:hover{
    background-color: #F6F7F8;
    cursor: pointer;
}


